@model CrmExercise.WebUI.Models.AccountLabel

<div class="product-item well col-xs-12 col-sm-6">
  <p>@Model.AccountId</p>
  <h4>@Model.Name</h4>
  <p>@Model.Address1_Line1</p>
  <p>@Model.Address1_City @Model.Address1_PostalCode</p>
  <p>@Model.Address1_Country</p>
</div>